<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <form method="POST" action="/">
      <label for="name">Name:</label>
      <input type="text" id="name" name='puppy[name]'>
      <label for="name">Breed:</label>
      <input type="text" id="breed" name='puppy[breed]'>
      <label for="name">Age:</label>
      <input type="text" id="age" name='puppy[age]'>
      <input type="submit" id="submit">
    </form>
  </body>
</html>
