<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Puppy</title>
  </head>
  <body>
    <h2>Puppy Name:</h2>
    <p><%= @puppy.name %></p>
    <h2>Puppy Breed:</h2>
    <p><%= @puppy.breed %></p>
    <h2>Puppy Age:</h2>
    <p><%= @puppy.age %></p>
  </body>
</html>
